.title-wrap {
  height: 30px;
  padding: 2px 20px;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
  background-color: #845EC2;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}
.title-wrap .mac-placeholder {
  width: 70px;
}
.title-wrap .menu {
  flex: 1;
  display: flex;
  -webkit-app-region: drag;
}
.title-wrap .menu li {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.2s;
  -webkit-app-region: no-drag;
  margin-right: 8px;
  font-weight: bold;
  padding: 0 10px;
}
.title-wrap .menu li:last-child {
  margin-right: 0;
}
.title-wrap .menu li:hover {
  color: #ffffff;
}
.title-wrap .menu li:active {
  background-color: rgba(0, 0, 0, 0.08);
}
.icon-box {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.icon-box > * {
  margin-right: 10px;
  color: rgba(34, 34, 34, 0.6);
  transition: 0.2s;
  cursor: pointer;
}
.icon-box > *:last-child {
  margin-right: 0;
}
.icon-box > *:hover {
  color: #222222;
}
